<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.cocopalm.PetitionVisualizer.mapper.PostMapper">

    <select id="selectMostAgreePetitionByKeyword" resultType="Post">
    	SELECT * FROM post				-- post 테이블에서
		WHERE 								-- keyword가 포함되어 있으며
			title LIKE CONCAT('%', #{keyword}, '%') AND 	
			is_new = #{isNew}				-- isNew(0:만료 / 1: 만료 이전)인 post 중에
		ORDER BY agree_count DESC			-- 동의 수로 내림차순하여 
		LIMIT 1								-- 1개 선택
    </select>
    
    <select id="test" resultType="String">
    	SELECT #{keyword}
    </select>
    
</mapper>   